* {
    margin:0;
    padding:0;
    font-family:'Roboto', 'arial'
}

body {
    display:flex;
    flex-direction:column;
    height:100vh;
}

.main-header {
    background-color:rgb(187, 187, 187);
    color:blue;
    font-size: 3rem;
    height:10%;
    text-align:center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom:1rem;
}

.search-box {
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    margin-top:1rem;
}

.card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-top: 1rem;
}

.card {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    border: 1px solid black;
    justify-items: flex-start;
    align-items: center;
    border-radius:7px;
    font-size:16px;
}

.card > * {
    margin: 1rem;
}

.legend {
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
}

#green-zone {
    height: 20px;
    width: 20px;
    background-color: green;
}

#yellow-zone {
    height: 20px;
    width: 20px;
    background-color: yellow;
}

#red-zone {
    height: 20px;
    width: 20px;
    background-color: red;
}

.warnings {
    display:flex;
    justify-content: center;
    gap:2rem;
}

li {
    padding:.5rem;
}

.main-container {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

button {
    padding: .25rem;
    color:black;
    border: 1px rgb(81, 81, 255) dotted;
    background-color:rgb(207, 215, 253);
    border-radius: 3px;
    font-size:18px;
}

button:hover {
    background-color: rgb(139, 158, 255);
    border:1px solid blue;
    cursor:pointer;
}

input {
    font-size:16px;
    padding:3px;
}

input:focus {
    border: 1px solid blue
}

.city-search {
    font-size: 22px;
}