* {
    margin:0;
    padding:0
}

body {
    display:flex;
    flex-direction:column;
    height:100vh;
}

.main-header {
    background-color:gray;
    color:blue;
    font-size: 2rem;
    height:10%;
    text-align:center;
    padding-top: 2rem;
}

.search-box {
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2rem;

}

.card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.card {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    justify-items: flex-start;
    align-items: center;
}

.card > * {
    margin: 1rem;
}

.legend {
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
}

#green-zone {
    height: 20px;
    width: 20px;
    background-color: green;
}

#yellow-zone {
    height: 20px;
    width: 20px;
    background-color: yellow;
}

#red-zone {
    height: 20px;
    width: 20px;
    background-color: red;
}

.warnings {
    display:flex;
    justify-content: center;
    gap:2rem;
}

li {
    padding:.5rem;
}