* {
    margin:0;
    padding:0
}

body {
    display:flex;
    flex-direction:column;
    height:100vh;
}

.main-header {
    background-color:gray;
    color:blue;
    font-size: 2rem;
    height:10%;
    text-align:center;
    padding-top: 2rem;
}

.search-box {
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2rem;

}

.card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    height:30%;
}

.card {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.card > * {
    margin: 1rem;
}